body, html {
    overflow-x: hidden;
    width: 100%;
}

.page-container {
    min-height: 100vh; /* full height */
    display: flex;
    flex-direction: column;
}

.content-wrap {
    flex: 1; /* pushes footer down */
}

/* Change the default color of all pagination links */
.pagination .page-link {
    color: #000000; /* White text */
    background-color: #ffffff; /* Blue background */
    border-color: #000000; /* Blue border */
}

/* Change the hover state colors */
.pagination .page-link:hover {
    color: #ffffff;
    background-color: rgb(0, 0, 0); /* Darker blue on hover */
    border-color: #000000;
}

/* Change the color of the active page item */
.pagination .page-item.active .page-link {
    color: #fff;
    background-color: #dc3545; /* Red background for active page */
    border-color: #dc3545;
}

/* Change the color of disabled page items (optional) */
.pagination .page-item.disabled .page-link {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
}

h2 {
    font-size: 38px;
    font-weight: bold;
}

h1 {
    font-size: 46px;
    font-weight: bold;
}

h3 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 3.4rem;
    margin-bottom: 1rem;
}

.section-tagline {
    font-size: 13px;
    font-family: monospace;
}

.line {
    width: calc(100% - 20rem);
    height: 20px;
    border-bottom: 1px solid #939393;
    position: absolute;
    margin-left: 10rem;
    margin-top: 0;
}

/* --------------------------------------------------------- */
/*     MOBILE & TABLET FIX (Screen width < 992px)            */
/* --------------------------------------------------------- */
@media (max-width: 1200px) {
    h2 {
        font-size: 28px;
        font-weight: bold;
    }

    h1 {
        font-size: 36px;
        font-weight: bold;
    }

    h3 {
        font-size: 18px;
        font-weight: bold;
        margin-top: 3.4rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .line {
        width: calc(100% - 5.6rem);
        margin-left: 2.8rem;
    }
}
